<div class="window row no-gutters">
  <div class="col-6 border-right scroll">
    <div class="container">
      <h2 *ngIf="new; else edit">
        New Blog Post
      </h2>
      <ng-template #edit>
        <h2>
          {{ post.id }}
        </h2>
      </ng-template>
      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            Title
            <input type="text" class="form-control" formControlName="title">
          </label>
        </div>
        <div class="form-group">
          <label>
            Subtitle
            <input type="text" class="form-control" formControlName="subtitle">
          </label>
        </div>
        <div class="form-group">
          <label>
            Post Date
            <input type="date" class="form-control" formControlName="date">
          </label>
        </div>
        <div class="form-group">
          <label>
            Tags
            <input type="text" class="form-control" formControlName="tags">
          </label>
        </div>
        <div class="form-group">
          <label>
            Content
            <textarea class="form-control" rows="20" formControlName="content"></textarea>
          </label>
        </div>
        <div class="form-group">
          <label>
            Public
            <input type="checkbox" formControlName="public">
          </label>
        </div>
        <div class="alert alert-danger" *ngIf="submitError">
          Failed to submit blog post
        </div>
        <div class="alert alert-danger" *ngIf="saveError">
          Failed to save changes
        </div>
        <div class="alert alert-danger" *ngIf="deleteError">
          Failed to delete blog post
        </div>
        <button *ngIf="!new" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
        <button class="btn btn-success border float-right" type="submit"
          [disabled]="!blogForm.valid">{{ new ? 'Submit' : 'Save Changes' }}</button>
        <button class="btn btn-light border float-right" type="button" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
  <div class="col-6 border-left scroll">
    <div class="menu border-bottom">
      <button class="btn border" type="button" (click)="updatePreview()">Update</button>
    </div>
    <div class="container">
      <markdown *ngIf="md" [id]="post.id" [type]="'blog'" [markdown]="md"></markdown>
    </div>
  </div>
</div>