@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "dark": #222222
);

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

@import "../node_modules/bootstrap/scss/bootstrap";

// Responsive borders
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }
    .border#{$infix}-0 {        border: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

h1 { font-size: 1.75rem; }

@include media-breakpoint-up(lg) {
  h1 { font-size: 2.5rem; }
}

a {
  text-decoration: none !important;
}

a.text-dark:hover {
  color: lighten($dark, 15%) !important;
}

code {
  font-size: inherit;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: $font-family-monospace;
}

blockquote {
  margin: 16px 24px;
  padding: 0 1em;
  border-left: 3px solid #ccc;
}